*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(0deg, rgb(1, 3, 4), rgb(62, 80, 97), rgb(6, 9, 11));
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.swiper-container {
    width: 900px;
    height: 650px;
    padding-top: 100px;
}
.swiper-slide-active{
    transition: 0.5s;
    transform: scale(1.3);
    z-index: 1;
    border-radius: 10px;
}
.swiper-slide-active img{
    box-shadow: 0px 0px 14px #7091a7;
}
.swiper-pagination-bullet{
    background-color: #fff;
}
.swiper-button-prev, .swiper-button-next{
    width: 64px;
    height: 64px;
}
.swiper-button-prev:after, .swiper-button-next:after{
    content: '';
    width: 64px;
    height: 64px;
}
.swiper-button-prev:after{
    background-image: url(https://img.icons8.com/flat-round/64/000000/arrow-left.png);
}
.swiper-button-next:after{
    background-image: url(https://img.icons8.com/flat-round/64/000000/arrow-right.png);
}

/*header*/
.header{
    margin-bottom: 30px;
}
.header__inner{
    width: 100%;
    height: 60px;
    background-image: url('../img/bg-header-gray3.jpg');
    background-repeat: repeat-x;
    padding: 10px 0;
}
.header__inner nav{
	margin-top: 7px;
}
.header__menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header__menu li{
    padding-bottom: 0px;
    transition: transform .3s;
    cursor: pointer;
    position: relative;
}
.header__menu li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    position: relative;
    transition: text-shadow .3s;
}

.header__menu li a:hover{
    text-shadow: 2px 2px 6px white, -2px -2px 6px white;
}

.yellow{
    height: 2px;
    background-color: #e62f05;
    background-repeat: repeat-x;
}

/*square animation*/
.square-container{
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 47px;
    transition: all 0.6s;
}
.square{
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 2px;
    position: absolute;
    transition: all 0.5s
}
.pos1{
    top: 0;
    left: 0;
}
.pos2{
    top: 0;
    left: 15px;
}
.pos3{
    top: 15px;
    left: 15px;
}
.pos4{
    top: 15px;
    left: 0;
}
/*square animation end*/

main{
    min-height: 688px;
    position: relative;
}
section{
    position: absolute;
    top: 0;
    left: 0;
}


/*home*/
.home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    padding-top: 112px;
    transition: opacity .6s;
    color: #fff;
}
.home h1{
     font-size: 36px;
     display: inline-block;
     margin-top: 20px;
     margin-bottom: 20px;
}
.home__description{
    padding-top: 100px;
    width: 60%;
}
.home__description h1{
    margin-top: 40px;
}
.home__img{
    width: 40%;
}
.home img{
    width: 100%;
    margin-left: 20px;
}
.home p{
    line-height: 2;
}




/*portfolio*/
.portfolio{
    width: 100%;
    opacity: 0;
    transition: opacity .6s;
    position: relative;
}
.portfolio__inner{
	height: 100%;
    display: flex;
    align-items: center;
}
.portfolio__item{
    transition: 0.5s;
}
.portfolio__item img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}



/*contact*/
.contact{
    width: 100%;
    padding: 20px;
    padding-top: 200px;
    opacity: 0;
    transition: opacity .6s;
    color: #fff;
    text-align: center;
}
.contact p{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact a{
    color: #fff;
    text-decoration: none;
}

/*media*/
@media (max-width: 903px){
	.swiper-container{
		padding-top: 115px;
	}
}

@media (max-width: 872px){
	.swiper-container{
		padding-top: 115px;
	}
}

@media (max-width: 832px){
	.home__description{
		padding-top: 60px;
	}
}
@media (max-width: 818px){
	.swiper-container{
		padding-top: 140px;
	}
}
@media (max-width: 768px){
	.swiper-container{
		padding-top: 174px;
	}
    .home{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        text-align: center;
    }
    .home__description{
        width: 100%;
    }
    .home img{
        margin-left: 0;
    }
    .home__img{
        width: 52%;
    }
    .home p{
        margin-bottom: 32px;
        line-height: 1.6;
    }
    .home{
        justify-content: flex-start;
    }
}

@media (max-width: 640px){
	.swiper-container{
		padding-top: 93px;
	}
    .home__img{
        width: 58%;
    }
}
@media (max-width: 528px){
	.swiper-container{
		height: 566px;
	}
    .home__img{
        width: 68%;
    }
}
@media (max-width: 480px){
    .portfolio__inner{
        align-items: flex-start;
    }
	.swiper-container{
		height: 566px;
        padding-top: 136px;
	}
    
}
@media (max-width: 440px){
	.swiper-container{
		height: 522px;
        padding-top: 122px;
	}
}
@media (max-width: 420px){
	.swiper-container{
		height: 690px;
        padding-top: 38px;
	}
    .swiper-slide-active {
        transform: scale(1);
    }
}
@media (max-width: 409px){
	.header__menu li a{
        font-size: 17px;
    }
}
@media (max-width: 380px){
    .home__img{
        width: 86%;
    }
    .home__description {
        padding-top: 32px;
    }
    .swiper-container {
        height: 624px;
    }
}
